<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }
    </style>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<script id="markerEdit" type="template">
		<div class="editMarker">
			<ul>
				<li><input type="text" placeholder="Title" autofocus ng-model="markers['%id%'].title"></li>
				<li><input type="text" placeholder="Time" ng-model="markers['%id%'].time"></li>
				<li><textarea type="text" placeholder="Description" ng-model="markers['%id%'].description"></textarea></li>
			</ul>
		</div>
	</script>
  </head>
  <body ng-controller="MainController">
	<form ng-submit="searchLocation()">
	    <input type="text" id="address" placeholder="Where is your event?" ng-model="search">
	    <button type="submit" class="btn bnt-default">Search</button>
	</form>
    <div id="map-canvas"/>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD65I5EEVXQSoEvAWvvBlHG8rtt2nD9eD4"></script>
	<script type="text/javascript" src="https://cdn.firebase.com/js/client/1.0.17/firebase.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
	<script src="http://cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js"></script>
	<script type='text/javascript' src='https://cdn.firebase.com/js/simple-login/1.6.1/firebase-simple-login.js'></script>
	<script type="text/javascript" src="index.js"></script>
  </body>
</html>